{% extends "home/base.html" %}

{% block content %}
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card deep-purple darken-3">
            <div class="card-content white-text">
                <h3>Welcome to <br /> BDCrypto Portfolios Website!
                </h3>
                <p>Buy and Sell cryptocurrencies easily on BDCrypto and explore a 
                    brand new world of oportunities!</p>
            </div>
            <div class="card-action">
                <a href="{% url 'login' %}" class="waves-effect waves-light btn-large pulse darken-4"><i
                        class="material-icons left">currency_bitcoin</i>Get Started!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}