{% extends "home/base.html" %}

{% block content %}
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card deep-purple darken-3">
            <!-- Title -->
            <div class="card-content white-text">
                <h3>Welcome to <br> BDCrypto Portfolios Website!
                </h3>
                <p>Buy and Sell cryptocurrencies easily on BDCrypto and explore a
                    brand new world of oportunities!</p>
            </div>
            <!-- Welcome card -->
            <div class="card-action">
                <a href="{% url 'login' %}"
                    class="waves-effect waves-light btn-large pulse white purple-text text-darken-3"><i
                        class="material-icons left">currency_bitcoin</i>Get Started!</a>
            </div>
        </div>
        <!-- Information blocks -->
        <div class="row">
            <div class="col s12 m6 offset-2">
                <div class="card deep-purple darken-3">
                    <div class="card-content white-text">
                        <h4>Blockchain & Cryptocurrency</h4>
                        <p>A <strong>Blockchain</strong> is a public database that is updated and shared across many
                            computers in a
                            network. <strong>Cryptocurrency</strong> is a medium of exchange secured by a
                            blockchain-based ledger.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 offset-2">
                <div class="card deep-purple darken-3">
                    <div class="card-content white-text">
                        <h4>Web 3.0</h4>
                        <p>Web3 puts power in the hands of individuals rather than corporations.
                            It uses blockchains,cryptocurrencies, and NFTs to give power back to the users in the form
                            of ownership.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- List of Cryptos -->
        <div class="row">
            <div class="col s12 offset-2">
                <div class="card deep-purple darken-3">
                    <div class="card-content white-text center">
                        <h3>These are some CRYPTO that you can add to your portfolio:</h3>
                    </div>
                    <div class="card-content white-text">
                        <table class="responsive-table highlight centered">
                            <thead>
                                <tr>
                                    <th>Icon</th>
                                    <th>Symbol</th>
                                    <th>Name</th>
                                    <th>Price ($)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for coin in assets|slice:"0:10" %}
                                <tr>
                                    <td>
                                        <span class="white-text"><img src="{{ coin.iconUrl }}" alt="Icon representing the cryptocoin" width="40" height="40"></span>
                                    </td>
                                    <td>
                                        <span class="white-text"><strong>{{ coin.symbol }}</strong></span>
                                    </td>
                                    <td>
                                        <span class="white-text"><strong>{{ coin.name }}</strong></span>
                                    </td>
                                    <td>
                                        <span class="white-text"><strong>US$ {{ coin.price }}</strong></span>
                                    </td>
                                </tr>
                                {% empty %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-action center">
                        <a href="{% url 'login' %}"
                            class="waves-effect waves-light btn-large pulse white purple-text text-darken-3"><i
                                class="material-icons left">currency_bitcoin</i>Start INVESTING!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}