{% extends "home/base.html" %}

{% block content %}

{% if request.user.is_authenticated %}
    <h2>The user {{request.user}} is logged in!</h2>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">LogIn</a>
{% endif %}
<hr>
<h1>Portfolios List</h1>
<a href="{% url 'create' %}">Create a Portfolio</a>
<table>
    <tr>
        <th>Name</th>
        <th>Details</th>
    </tr>
    {% for portfolio in portfolios %}
    <tr>
        <td><h6>{{ portfolio.name }}</h6></td>
        <td>
            <a href="{% url 'portfolio' portfolio.slug %}">View</a>
        </td>
        <td>
            <a href="{% url 'update' portfolio.slug %}">Edit</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td>Create A Portfolio</td>
        <td colspan="2">0.00</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}