{% extends "home/base.html" %}

{% block content %}
{% if messages %}
    <div class="row">
        <div class="col s12 m2 offset-m5">
            {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }} toast rounded green lighten-3 green-text text-darken-4"{% endif %}>{{ message }}</div >
            {% endfor %}
        </div>
    </div>
{% endif %}
<div class="row">
    <div class="col s12 m12 center">
        <h1 class="purple-text text-darken-4">Welcome back {{request.user}}!</h1>
        <p class="purple-text text-darken-4">You can check all your portfolios with details from the table below:</p>
    </div>
</div>

<div class="row">
    <div class="col s12 m12 center">
        <h3 class="purple-text text-darken-4">Portfolios List</h3>
    </div>
</div>
<div class="row">
    <div class="col s12 m6 offset-m3">
        <!-- Portfolios table -->
        <table class="responsive-table highlight centered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for portfolio in portfolios %}
                <tr>
                    <td>
                        <span class="purple-text text-darken-4"><strong>{{ portfolio.name }}</strong></span>
                    </td>
                    <td>
                        <a href="{% url 'portfolio' portfolio.slug %}" title="View" class="btn-floating btn-small waves-effect waves-light purple"><i class="material-icons">visibility</i></a>
                        <a href="{% url 'update' portfolio.slug %}" title="Edit" class="btn-floating btn-small waves-effect waves-light purple"><i class="material-icons">edit</i></a>
                        <a href="{% url 'delete' portfolio.slug %}" title="Delete" class="btn-floating btn-small waves-effect waves-light purple"><i class="material-icons">delete</i></a>
                    </td>
                </tr>
                {% empty %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 center">
        <a class="waves-effect waves-purple btn-small white purple-text text-darken-3" href="{% url 'create' %}">
            <i class="material-icons right">add_circle_outlined</i>
            Create a new Portfolio 
        </a>
    </div>
</div>

{% endblock %}