@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.brand-logo {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  margin-left: 2vw;
}

label {
  font-family: "Open Sans", sans-serif;
  font-size: large;
  color: white;
}

input[type=text], input[type=text]:focus {
  color: white;
}

input[type=submit] {
  color: #6a1b9a;
  text-transform: uppercase;
  cursor: pointer;
}

#delete-input {
  color: #fff;
  text-transform: capitalize;
}